<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastProBR- tools</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <section class="bg-gray-900 text-white">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto text-center">

        <h1>Gotenks PDF</h1>


      </div>

    </div>
  </section>




  <div class="mx-auto max-w-screen-xl gap-2 px-4 py-16 lg:flex lg:h-screen lg:items-center">


    <a class="group block h-56" href="/mergePdf">
      <div
        class="relative flex h-full items-end rounded-3xl border-4 border-black bg-white p-8 transition group-hover:-translate-x-2 group-hover:-translate-y-2 group-hover:shadow-[8px_8px_0_0_#000]">
        <div class="lg:group-hover:absolute lg:group-hover:opacity-0">
          <span class="text-3xl sm:text-4xl" role="img" aria-hidden="true"></span>
          <p class="mt-4 text-xl font-bold sm:text-2xl">Juntar Pdfs</p>
        </div>

        <div class="absolute opacity-0 lg:group-hover:relative lg:group-hover:opacity-100">
          <h3 class="text-2xl font-bold">Juntar Pdfs</h3>

          <p class="mt-4 text-lg font-medium leading-relaxed">
            Faça o upload de vários arquivos pdf, e receba um único arquivo compilado.
          </p>
        </div>
      </div>
    </a>

  </div>
</body>

</html>